.paginationDotsContainer--home__slider{
    transform: translateY(-20px);
}
.paginationDot--home__slider{
    background-color: rgb(181, 181, 181);
}
.paginationDot--home__slider--isActive{
    background-color: rgb(138, 138, 138);
    border: 1px solid rgb(165, 165, 165);
}
.slideChildrenContainer--home__slider{
    width: 100%;
}
.caretIcon--home__slider{
    margin: 1rem;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    padding: 15px;
}