.flexRowContent--info-menu{
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  height: 30px;
}
.flexRowContent--info-menu :global(.vtex-menu-2-x-styledLink) {
  color: #333 !important;
  font-size: 0.6rem !important;
}
.flexColChild--search-desktop{
  width: 40rem;
  margin-left: 1.5rem;
}
.flexRowContent--main-header-mobile {
  display: flex;
  background-color: white !important;
  justify-content: center;
  align-items: center;
}
.flexRowContent--logo-header-mobile{
  width: 35px;
}
.flexRow--logo-header-mobile{
  margin-right: 1rem;
}
.flexRowContent--search-header-mobile{
  border: 0;
}
.flexRow--desktop-middleMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  height: 50px;
  margin-bottom: 0.5rem;
}
.flexRowContent--desktop-middleMenu :global(.vtex-menu-2-x-styledLink) {
  color: #333 !important;
  font-size: 0.8rem !important;
}