.flexRowContent--info-menu{
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  height: 30px;
}
.flexRowContent--info-menu :global(.vtex-menu-2-x-styledLink) {
  color: #333 !important;
  font-size: 0.6rem !important;
}
.flexColChild--search-desktop{
  width: 40rem;
  margin-left: 1.5rem;
}
