.menuItem--drawer-item--isClosed {
  border-bottom: 0.1rem solid #f5f5f5;
}

.menuItem--drawer-item-one--isClosed {
  border-bottom: 0.1rem solid #f5f5f5;
}

.styledLinkContent--drawer-item {
  padding: 1rem;
}

.styledLinkContent--drawer-item-one {
  padding: 1rem;
}

.menuItem--drawer-item-open--isClosed {
  background-color: #f5f5f5;
  border-bottom   : 0.1rem solid #cecece;
}

.menuItem--drawer-item-one-open--isClosed {
  background-color: #f5f5f5;
  border-bottom   : 0.1rem solid #cecece;
}

.styledLinkContainer--drawer-item-open {
  padding         : 1rem;
  background-color: #f5f5f5;
}

.styledLinkContainer--drawer-item-one-open {
  padding         : 1rem;
  background-color: #f5f5f5;
}

.menuContainer--menu-content-contact {
  margin-right: 1rem;
}

.menuItem--drawer-item-cmr--isClosed {
  display    : flex;
  align-items: center;
}

.styledLinkContainer--drawer-item-cmr {
  margin-left: 0.5rem;
}

.imageElement--drawer-cmr-image-style {
  padding-right: 0.2rem;
}

.menuItem--drawer-item-open-deparment--isClosed {
  padding         : 1rem 9rem 1rem 1rem;
  background-color: #f5f5f5;
  border-bottom   : 0.1rem solid #cecece;
}

.menuItem--menu-slash--isClosed {
  margin-right: 0.1rem;
  margin-left : 0.1rem;
}

.styledLinkContainer--menu-slash {
  padding-right: 0.1rem;
  padding-left : 0.1rem;
  margin       : 0 !important;
}

.styledLink--menu-slash {
  padding: 0.1rem !important;
  margin : auto !important;
}

.styledLinkContainer--menu-item {
  margin-right: 0.1rem;
  margin-left : 0.1rem;
}

.styledLink--menu-item {
  padding-right: 0.1rem;
  padding-left : 0.1rem;
}

.styledLinkContainer--menu-institucional {
  padding-right: 0.1rem;
  padding-left : 0.1rem;
  margin       : 0 !important;
}

.styledLinkContent--more {
  text-transform: uppercase;
}

.styledLink--more {
  font-size: 0.7rem;
}

.styledLink--menu-item {
  padding-right: 0.1rem;
  padding-left : 0.1rem;
}

.styledLink--menu-slash {
  padding: 0.1rem !important;
  margin : auto !important;
}

.styledLinkContent--content-black {
  font-size: 0.8rem;
}

.menuItem--more:hover {
  background-color: white;
  box-shadow      : 0px 1px 10px 3px rgba(0, 0, 0, 0.2);
}

.submenuWrapper--submenu-more {
  background-color: white;
  width           : 80%;
  margin-left     : 10%;
}

.menuItem--content-black:hover {
  text-decoration: underline;
}

.menuItem--content-blue:hover {
  text-decoration: underline;
}

.styledLinkContent--content-blue {
  color: rgb(0, 60, 255);
}

.styledLinkIcon--drawer-item-one {
  margin-left: 9rem;
}

.styledLinkIcon--drawer-item {
  margin-left: 6rem;
}

.accordionIcon--drawer-item-one--isClosed {
  display: none;
}

.accordionIcon--drawer-item-one--isOpen {
  display: none;
}

.accordionIcon--drawer-item--isClosed {
  display: none;
}

.accordionIcon--drawer-item--isOpen {
  display: none;
}